@font-face {
    font-family: 'Glamour';
    src: url('/fonts/GlamourAbsolute_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.grid-cols-1fr-4fr {
    grid-template-columns: 1fr 4fr;
}

.grid-cols-1fr-2fr-1fr {
    grid-template-columns: 1fr 2fr 1fr;
}

h2
{
    @apply font-glamour text-4xl;
}

.vl
{
    @apply h-full border-l-2 border-gray;
}

.button
{
    @apply px-4 py-3 border-2 border-gray w-fit block;
}

.tag
{
    @apply border-2 border-gray py-1 px-2 font-bold block;
}