---
//@ts-nocheck
import Layout from "../../layouts/Layout.astro";
import IntroHeader from "../../components/IntroHeader.astro";
import TagList from "../../components/TagList.astro";
---

<Layout title="Writing" cols="1fr_2px_4fr">
  <div class="vl"></div>
  <div class="flex flex-col gap-8">
    <IntroHeader
      title="Tags"
      subtitle="A list of all tags used through-out the blog"
    />
    <div>
      <section>
        <div class="grid grid-cols-[auto_1fr] gap-8 md:gap-x-8 gap-y-16">
          <TagList />
        </div>
      </section>
    </div>
  </div>
</Layout>
